.jumbotron {background-color: #ea1a39; 
 		    border: 10px solid #f2cb3b;
	h1 {color: #eef0e2;
 		font-weight: bold;}
 }

.navbar-default {
	.container-fluid {background-color: #009cde;

	 .navbar-nav > li > a {color: #012168;
	  					   font-size: 16px;
	  					   font-weight: bold;
	  					   text-shadow: 2px 0 0 #68ff68, -2px 0 0 #68ff68, 0 2px 0 #68ff68, 0 -2px 0 #68ff68, 1px 1px #68ff68, -1px -1px 0 #68ff68, 1px -1px 0 #68ff68, -1px 1px 0 #68ff68;}

	 .navbar-brand {color: #012168;
	  				font-size: 50px;
	  				font-weight: bold;
	  				font-family: 'Hobo Std';
	  				text-shadow: 2px 0 0 #68ff68, -2px 0 0 #68ff68, 0 2px 0 #68ff68, 0 -2px 0 #68ff68, 1px 1px #68ff68, -1px -1px 0 #68ff68, 1px -1px 0 #68ff68, -1px 1px 0 #68ff68;}
	}
}

.container-fluid {
		padding: 10px 120px;
}